
.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
  }

   /* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 300 to 800 */

/* .open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */
  

*::before, *::after{
    box-sizing: border-box;
}

:root{
    --background: orange;
    --box-shadow: 0.3em 0.2em 0.6em 0.4em rgba(0, 0, 0, .1);
}

/* Style body element */
body{
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-family: "Permanent Marker", cursive, 'open sans', sans-serif;
    background: #dede;
}

/* main container starts */
.main_container{
    width: 50%;
    min-width: 400px;
    min-height: 400px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 2px solid var(--background);
    border-radius: 10px;
    box-shadow: var(--box-shadow);

}

/* main container ends */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

h2{
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 400;
}

section > .error_section{
    z-index: 10;
    position: absolute;
    top: 0;
    right: 25%;
}

section > .error_section > .error_message{
    color: rgb(239, 239, 239);
    background-color: red;
    padding: 7px 20px;
    margin-bottom: 5px;
    border-radius: 8px;
    visibility: hidden;
    font-family: 'open sans', sans-serif;
    font-weight: 400;
    transition: all 4s;
}

section > .error_section > .remove_error{
    visibility: visible;
}

h4{
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 400;
    color: #5b5959;
}

h4 > span{
    font-family: 'open sans', sans-serif;
}

#encrypt_result, #decrypt_result{
    text-transform: none;
}

.encrypt_container, .decrypt_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid var(--background);
    border-radius: 5px;
    /* margin: 20px; */
    padding: 30px;
}

input[type=text], input[type=number]{
    width: 200px;
    padding: 10px 5px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 1.5rem;
    color: gray;
    outline: none;
    transition: all .4s;
}

input:focus{
    box-shadow: 0.3em 0.2em 0.6em 0.4em rgba(25, 0, 255, 0.107);
    background: #fff;
}

button{
    border: none;
    background: var(--background);
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1.4rem;
    /* margin-top: 15px; */
    transition: all .6s;
    
}

button:hover{
    background: none;
    border: 2px solid var(--background);
    cursor: pointer;
}
.result{
    align-self: flex-start;
};
